/* Universal Styles */

html {
  font-size: 16px;
}

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
  padding: 20px 0;
  background-color: white;
}

#directory {
  position: fixed;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('images/background.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000;
  /* Parallax */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

a {
  color: #f5d0d5;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}

.main_page_image {
  height: 200px;
  width: 200px;
}

/* Blog Post */

#blog {
  width: 86%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#blog .post {
  width: 52%;
  margin-top: 7.5%;
  margin-bottom: 7.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  justify-content: center;
  line-height: 1.8;
  color: #444444;
  background: #FAFAFA;
  border: 1px solid #D3D3D3;
}

.post h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.post h3 {
  font-size: 1.125rem;
  color: #999999;
}

.post .opening-line {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: black;
  font-weight: bold;
}

.post p,
.post .image-container {
  margin-bottom: 2rem;
}

.post .image-container {
  width: 100%;
}

hr {
  width: 75%;
}


/* Blog Images */
#blog img {
  max-width: 30%;
}

.images {
  margin-bottom: 20%;
}

.images .image-container {
  display: inline-block;
  width: 50%;
}
